<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Sallve</title>
  </head>
  <body>
  <div class="text-center">
    <img src={{url_for('static', filename='img/index/sallve_logo.png')}} class="img-fluid mb-2" alt="Responsive image" style="max-width:25vw;">
  </div>
  {% if status_code == 404 %}<div class="text-center"><h2> User not found ): </br> please insert a valid user e-mail!</h2></div>{% else %}{% endif %}

  <div class="container" style="text-align: -webkit-center;">
    <div class="col-4-md">
        <form name="email-submit-form" action="/">
          <div class="form-group">
            <label for="emailAdress">Email address</label>
            <input type="email" class="form-control" name="email" id="emailAdress" aria-describedby="email input" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Enter a e-mail to check for its posts.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>

  {% if status_code == 200 %}
  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4">{{ formatted_data['user'].pop('name') }}</h1>
          <ul>
            {% for item in formatted_data['user'] %}
            <hr class="my-4">
            <li>{{ item }} - {{ formatted_data['user'][item] }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
    {% for post in formatted_data['posts'] %}
    <div class="col-md-4">
      <div class="card mb-4 box-shadow" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ post['title'] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Id: {{ post['id'] }}</h6>
          <p class="card-text">{{ post['body'] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

  {% else %}

  {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>